.cyclePage {
  background-color: aliceblue;
  z-index: 1;

}



.periodDay {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .periodDay .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .calendarBox {
    display: inline-block;
    border: 0px solid rgb(0, 0, 0);
    padding: 0px;
    margin: 30px;
    vertical-align: middle;
    font-size: 10px;
    }

    
